
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /dashboard/views/login/

    # Redirecionar todas as requisições para o controlador frontal (index.php)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>